<!DOCTYPE html>
<html>
	<head>
		<title>Coursework - RFID Door Lock</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<header>{{ title }}</header>

		<div class="container">
      <div class="back_button">
    		<a href="{{ url_for('index') }}"><<< Home</a>
    	</div>

    	<div class="main_logs">
				<table>
    			<tr>
    				<th>UID</th>
    				<th>Time</th>
						<th>
    			</tr>
    			<tr>
    				<td>4832</td>
    				<td>34/63/1677</td>
    			</tr>
          <tr>
    				<td>1654</td>
    				<td>92/16/1865</td>
    			</tr>
          <tr>
    				<td>6733</td>
    				<td>12/15/1888</td>
    			</tr>
    		</table>
    	</div>
		</div>
	</body>
</html>
